{% load static %}
<!--Home Slideshow-->
<section class="slideshow slideshow-wrapper">
    <div class="home-slideshow slick-arrow-dots">
        <div class="slide">
            <div class="slideshow-wrap">
                <picture>
                    <source media="(max-width:767px)" srcset="{% static 'assets/images/slideshow/demo1-banner1-mbl.jpg' %}" width="1150" height="800">
                    <img class="blur-up lazyload" src="{% static 'assets/images/slideshow/demo1-banner1.jpg' %}" alt="slideshow" title="" width="1920" height="795" />
                </picture> 
                <div class="container">
                    <div class="slideshow-content slideshow-overlay middle-left">
                        <div class="slideshow-content-in">
                            <div class="wrap-caption animation style1">
                                <p class="ss-small-title">Elegant design</p>
                                <h2 class="ss-mega-title">Making someone feel <br>pretty is an art</h2>
                                <p class="ss-sub-title xs-hide">Perfectly designed to ensures ultimate comfort and style</p>
                                <div class="ss-btnWrap">
                                    <a class="btn btn-secondary" href="{% url 'products:shop' %}">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slideshow-wrap">
                <picture>
                    <source media="(max-width:767px)" srcset="{% static 'assets/images/slideshow/demo1-banner2-mbl.jpg' %}" width="1150" height="800">
                    <img class="blur-up lazyload" src="{% static 'assets/images/slideshow/demo1-banner2.jpg' %}" alt="slideshow" title="" width="1920" height="795" />
                </picture>  
                <div class="container">
                    <div class="slideshow-content slideshow-overlay middle-right">
                        <div class="slideshow-content-in">
                            <div class="wrap-caption animation style1">
                                <h2 class="ss-mega-title">Spread Positive <br>Energy With Hema</h2>
                                <p class="ss-sub-title xs-hide">The must-have closet essential women wardrobe for the year</p>
                                <div class="ss-btnWrap d-flex-justify-start">
                                    <a class="btn btn-primary" href="{% url 'products:shop' %}">Explore Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slideshow-wrap">
                <picture>
                    <source media="(max-width:767px)" srcset="{% static 'assets/images/slideshow/demo1-banner3-mbl.jpg' %}" width="1150" height="800">
                    <img class="blur-up lazyload" src="{% static 'assets/images/slideshow/demo1-banner3.jpg' %}" alt="slideshow" title="" width="1920" height="795" />
                </picture>  
                <div class="container">
                    <div class="slideshow-content slideshow-overlay middle-right">
                        <div class="slideshow-content-in">
                            <div class="wrap-caption animation style1">
                                <h2 class="ss-mega-title">Design Your Next <br>Favourite Wear</h2>
                                <p class="ss-sub-title xs-hide">The outfit that blend elegance and style for your casual wear</p>
                                <div class="ss-btnWrap">
                                    <a class="btn btn-primary" href="{% url 'products:shop' %}">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Home Slideshow-->