{% extends "web/includes/base.html" %}
{% load static %}
{% block content %}
{% include "web/includes/slider.html" %}
<!--Service Section-->
<section class="section service-section pb-0">
    <div class="container">
        <div class="service-info row col-row row-cols-lg-4 row-cols-md-4 row-cols-sm-2 row-cols-2 text-center">
            <div class="service-wrap col-item">
                <div class="service-icon mb-3">
                    <i class="icon anm anm-phone-call-l"></i>
                </div>
                <div class="service-content">
                    <h3 class="title mb-2">Call us any time</h3>
                    <span class="text-muted">Contact us 24/7 hours a day</span>
                </div>
            </div>
            <div class="service-wrap col-item">
                <div class="service-icon mb-3">
                    <i class="icon anm anm-truck-l"></i>
                </div>
                <div class="service-content">
                    <h3 class="title mb-2">Pickup At Any Store</h3>
                    <span class="text-muted">Free shipping on orders over $65</span>
                </div>
            </div>
            <div class="service-wrap col-item">
                <div class="service-icon mb-3">
                    <i class="icon anm anm-credit-card-l"></i>
                </div>
                <div class="service-content">
                    <h3 class="title mb-2">Secured Payment</h3>
                    <span class="text-muted">We accept all major credit cards</span>
                </div>
            </div>
            <div class="service-wrap col-item">
                <div class="service-icon mb-3">
                    <i class="icon anm anm-redo-l"></i>
                </div>
                <div class="service-content">
                    <h3 class="title mb-2">Free Returns</h3>
                    <span class="text-muted">30-days free return policy</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service Section-->

<!--Collection banner-->
<section class="section collection-banners pb-0">
    <div class="container">                      
        <div class="collection-banner-grid">
            <div class="row sp-row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 collection-banner-item">
                    {% for category in categories|slice:"1" %}
                    <div class="collection-item sp-col">
                        <a href="{% url 'products:shop' %}?department={{category.slug}}" class="zoom-scal">
                            <div class="img">
                                <img class="blur-up lazyload" data-src="{{category.image.url}}" src="{{category.image.url}}" alt="{{category.title}}" title="{{category.title}}" width="645" height="723" />
                            </div>
                            <div class="details middle-right">
                                <div class="inner">
                                    <p class="mb-2">Trending Now</p>
                                    <h3 class="title">{{category.title}}</h3>
                                    <span class="btn btn-outline-secondary btn-md">Shop Now</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 collection-banner-item">
                    {% for category in categories|slice:"1:3" %}
                    <div class="collection-item sp-col">
                        <a href="{% url 'products:shop' %}?department={{category.slug}}" class="zoom-scal">
                            <div class="img">
                                <img class="blur-up lazyload" data-src="{{category.image.url}}" src="{{category.image.url}}" alt="{{category.title}}" title="{{category.title}}" width="645" height="344" />
                            </div>
                            <div class="details {% if forloop.counter == 1 %} middle-left {% else %} middle-right {% endif %}">
                                <div class="inner">
                                    <h3 class="title mb-2">{{category.title}}</h3>
                                    <p class="mb-3">Tailor-made with passion</p>
                                    <span class="btn btn-outline-secondary btn-md"> Shop Now</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Collection banner-->

<!--Popular Categories-->
<section class="section collection-slider pb-0">
    <div class="container">
        <div class="section-header">
            <p class="mb-2 mt-0">Shop by category</p>
            <h2>Popular Collections</h2>
        </div>

        <div class="collection-slider-5items gp15 arwOut5 hov-arrow">
            {% include "web/includes/category_slider.html" %}
        </div>
    </div>
</section>
<!--End Popular Categories-->

<!--Products With Tabs-->
<section class="section product-slider tab-slider-product">
    <div class="container">
        <div class="section-header d-none">
            <h2>Special Offers</h2>
            <p>Browse the huge variety of our best seller</p>
        </div>

        <div class="tabs-listing">
            <ul class="nav nav-tabs style1 justify-content-center" id="productTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link head-font active" id="bestsellers-tab" data-bs-toggle="tab" data-bs-target="#bestsellers" type="button" role="tab" aria-controls="bestsellers" aria-selected="true">Bestseller</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link head-font" id="newarrivals-tab" data-bs-toggle="tab" data-bs-target="#newarrivals" type="button" role="tab" aria-controls="newarrivals" aria-selected="false">New Arrivals</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link head-font" id="toprated-tab" data-bs-toggle="tab" data-bs-target="#toprated" type="button" role="tab" aria-controls="toprated" aria-selected="false">Top Rated</button>
                </li>
            </ul>

            <div class="tab-content" id="productTabsContent">
                <div class="tab-pane show active" id="bestsellers" role="tabpanel" aria-labelledby="bestsellers-tab">
                    <!--Product Grid-->
                    <div class="grid-products grid-view-items">
                        <div class="row col-row product-options row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2">                                   
                            {% for product in best_sellers %}
                            <div class="item col-item">
                                <div class="product-box">
                                    <!-- Start Product Image -->
                                    <div class="product-image">
                                        <!-- Start Product Image -->
                                        <a href="" class="product-img rounded-3"><img class="blur-up lazyload" src="{{product.image.url}}" alt="Product" title="Product" width="625" height="808" /></a>
                                        <!-- End Product Image -->
                                        <!-- Product label -->
                                        {% for i in product.tag.all %}
                                        <div class="product-labels"><span class="lbl " style="background: {{i.background_color.color_code}};">{{i.name}}</span></div>
                                        {% endfor %}
                                        <!-- End Product label -->
                                        <!--Product Button-->
                                        <div class="button-set style1">
                                            <!--Quick View Button-->
                                            <a href="#quickview-modal" class="btn-icon quickview quick-view-modal" data-bs-toggle="modal" data-bs-target="#quickview_modal">
                                                <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick View"><i class="icon anm anm-cart-l"></i><span class="text">Quick View</span></span>
                                            </a>
                                            <!--End Quick View Button-->
                                            <!--Wishlist Button-->
                                            <!-- <a href="wishlist-style2.html" class="btn-icon wishlist" data-bs-toggle="tooltip" data-bs-placement="left" title="Add To Wishlist"><i class="icon anm anm-heart-l"></i><span class="text">Add To Wishlist</span></a> -->
                                            <!--End Wishlist Button-->
                                            <!--Compare Button-->
                                            <!-- <a href="compare-style2.html" class="btn-icon compare" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Compare"><i class="icon anm anm-random-r"></i><span class="text">Add to Compare</span></a> -->
                                            <!--End Compare Button-->
                                        </div>
                                        <!--End Product Button-->
                                    </div>
                                    <!-- End Product Image -->
                                    <!-- Start Product Details -->
                                    <div class="product-details">
                                        <!-- Product Name -->
                                        <div class="product-name">
                                            <a href="">{{product.title}}</a>
                                        </div>
                                        <!-- End Product Name -->
                                        <!-- Product Price -->
                                        <div class="product-price">
                                            <span class="price old-price">${{product.get_original_price}}</span><span class="price">${{product.get_sale_price}}</span>
                                        </div>
                                        <!-- End Product Price -->
                                        <!-- Product Review -->
                                        <div class="product-review">
                                            {% for star in "12345" %}
                                                {% if star|add:0 <= product.rating %}
                                                    <i class="icon anm anm-star"></i>
                                                {% else %}
                                                    <i class="icon anm anm-star-o"></i>
                                                {% endif %}
                                            {% endfor %}
                                            <span class="caption hidden ms-1">3 Reviews</span>
                                        </div>
                                        <!-- End Product Review -->
                                        <!--Color Variant -->
                                        <ul class="variants-clr swatches">
                                            {% for i in product.get_images %}
                                            <li class="swatch medium radius"><span class="swatchLbl" data-bs-toggle="tooltip" data-bs-placement="top" title="{{i.color}}"><img src="{{i.image.url}}" alt="product" width="625" height="808" /></span></li>
                                           {% endfor %}
                                        </ul>
                                        <!-- End Variant -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                            </div> 
                            {% endfor %}                               
                        </div>  

                        <div class="view-collection text-center mt-4 mt-md-5">
                            <a href="{% url 'products:shop' %}" class="btn btn-secondary btn-lg">View Collection</a>
                        </div>
                    </div>
                    <!--End Product Grid-->
                </div>

                <div class="tab-pane" id="newarrivals" role="tabpanel" aria-labelledby="newarrivals-tab">
                    <!--Product Grid-->
                    <div class="grid-products grid-view-items">
                        <div class="row col-row product-options row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2">                                                                              
                            {% for product in new_arrivals %}
                            <div class="item col-item">
                                <div class="product-box">
                                    <!-- Start Product Image -->
                                    <div class="product-image">
                                        <!-- Start Product Image -->
                                        <a href="" class="product-img rounded-3"><img class="blur-up lazyload" src="{{product.image.url}}" alt="Product" title="Product" width="625" height="808" /></a>
                                        <!-- End Product Image -->
                                        <!-- Product label -->
                                        {% for i in product.tag.all %}
                                        <div class="product-labels"><span class="lbl " style="background: {{i.background_color.color_code}};">{{i.name}}</span></div>
                                        {% endfor %}
                                        <!-- End Product label -->
                                        <!--Product Button-->
                                        <div class="button-set style1">
                                            <!--Cart Button-->
                                            <a href="#quickshop-modal" class="btn-icon addtocart quick-shop-modal" data-bs-toggle="modal" data-bs-target="#quickshop_modal">
                                                <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick Shop"><i class="icon anm anm-cart-l"></i><span class="text">Quick Shop</span></span>
                                            </a>
                                            <!--End Cart Button-->
                                            <!--Quick View Button-->
                                            <a href="#quickview-modal" class="btn-icon quickview quick-view-modal" data-bs-toggle="modal" data-bs-target="#quickview_modal">
                                                <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick View"><i class="icon anm anm-cart-l"></i><span class="text">Quick View</span></span>
                                            </a>
                                            <!--End Quick View Button-->
                                            <!--Wishlist Button-->
                                            <a href="wishlist-style2.html" class="btn-icon wishlist" data-bs-toggle="tooltip" data-bs-placement="left" title="Add To Wishlist"><i class="icon anm anm-heart-l"></i><span class="text">Add To Wishlist</span></a>
                                            <!--End Wishlist Button-->
                                            <!--Compare Button-->
                                            <a href="compare-style2.html" class="btn-icon compare" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Compare"><i class="icon anm anm-random-r"></i><span class="text">Add to Compare</span></a>
                                            <!--End Compare Button-->
                                        </div>
                                        <!--End Product Button-->
                                    </div>
                                    <!-- End Product Image -->
                                    <!-- Start Product Details -->
                                    <div class="product-details">
                                        <!-- Product Name -->
                                        <div class="product-name">
                                            <a href="">{{product.title}}</a>
                                        </div>
                                        <!-- End Product Name -->
                                        <!-- Product Price -->
                                        <div class="product-price">
                                            <span class="price old-price">${{product.get_original_price}}</span><span class="price">${{product.get_sale_price}}</span>
                                        </div>
                                        <!-- End Product Price -->
                                        <!-- Product Review -->
                                        <div class="product-review">
                                            {% for star in "12345" %}
                                                {% if star|add:0 <= product.rating %}
                                                    <i class="icon anm anm-star"></i>
                                                {% else %}
                                                    <i class="icon anm anm-star-o"></i>
                                                {% endif %}
                                            {% endfor %}
                                            <span class="caption hidden ms-1">3 Reviews</span>
                                        </div>
                                        <!-- End Product Review -->
                                        <!--Color Variant -->
                                        <ul class="variants-clr swatches">
                                            {% for i in product.get_images %}
                                            <li class="swatch medium radius"><span class="swatchLbl" data-bs-toggle="tooltip" data-bs-placement="top" title="{{i.color}}"><img src="{{i.image.url}}" alt="product" width="625" height="808" /></span></li>
                                           {% endfor %}
                                        </ul>
                                        <!-- End Variant -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                            </div> 
                            {% endfor %}   
                        </div>

                        <div class="view-collection text-center mt-4 mt-md-5">
                            <a href="{% url 'products:shop' %}" class="btn btn-secondary btn-lg">View Collection</a>
                        </div>
                    </div>
                    <!--End Product Grid-->
                </div>

                <div class="tab-pane" id="toprated" role="tabpanel" aria-labelledby="toprated-tab">
                    <!--Product Grid-->
                    <div class="grid-products grid-view-items">
                        <div class="row col-row product-options row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2">                                                                              
                            {% for product in top_rated %}
                            <div class="item col-item">
                                <div class="product-box">
                                    <!-- Start Product Image -->
                                    <div class="product-image">
                                        <!-- Start Product Image -->
                                        <a href="" class="product-img rounded-3"><img class="blur-up lazyload" src="{{product.image.url}}" alt="Product" title="Product" width="625" height="808" /></a>
                                        <!-- End Product Image -->
                                        <!-- Product label -->
                                        {% for i in product.tag.all %}
                                        <div class="product-labels"><span class="lbl " style="background: {{i.background_color.color_code}};">{{i.name}}</span></div>
                                        {% endfor %}
                                        <!-- End Product label -->
                                        <!--Product Button-->
                                        <div class="button-set style1">
                                            <!--Cart Button-->
                                            <a href="#quickshop-modal" class="btn-icon addtocart quick-shop-modal" data-bs-toggle="modal" data-bs-target="#quickshop_modal">
                                                <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick Shop"><i class="icon anm anm-cart-l"></i><span class="text">Quick Shop</span></span>
                                            </a>
                                            <!--End Cart Button-->
                                            <!--Quick View Button-->
                                            <a href="#quickview-modal" class="btn-icon quickview quick-view-modal" data-bs-toggle="modal" data-bs-target="#quickview_modal">
                                                <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick View"><i class="icon anm anm-cart-l"></i><span class="text">Quick View</span></span>
                                            </a>
                                            <!--End Quick View Button-->
                                            <!--Wishlist Button-->
                                            <a href="wishlist-style2.html" class="btn-icon wishlist" data-bs-toggle="tooltip" data-bs-placement="left" title="Add To Wishlist"><i class="icon anm anm-heart-l"></i><span class="text">Add To Wishlist</span></a>
                                            <!--End Wishlist Button-->
                                            <!--Compare Button-->
                                            <a href="compare-style2.html" class="btn-icon compare" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Compare"><i class="icon anm anm-random-r"></i><span class="text">Add to Compare</span></a>
                                            <!--End Compare Button-->
                                        </div>
                                        <!--End Product Button-->
                                    </div>
                                    <!-- End Product Image -->
                                    <!-- Start Product Details -->
                                    <div class="product-details">
                                        <!-- Product Name -->
                                        <div class="product-name">
                                            <a href="">{{product.title}}</a>
                                        </div>
                                        <!-- End Product Name -->
                                        <!-- Product Price -->
                                        <div class="product-price">
                                            <span class="price old-price">${{product.get_original_price}}</span><span class="price">${{product.get_sale_price}}</span>
                                        </div>
                                        <!-- End Product Price -->
                                        <!-- Product Review -->
                                        <div class="product-review">
                                            {% for star in "12345" %}
                                                {% if star|add:0 <= product.rating %}
                                                    <i class="icon anm anm-star"></i>
                                                {% else %}
                                                    <i class="icon anm anm-star-o"></i>
                                                {% endif %}
                                            {% endfor %}
                                            <span class="caption hidden ms-1">3 Reviews</span>
                                        </div>
                                        <!-- End Product Review -->
                                        <!--Color Variant -->
                                        <ul class="variants-clr swatches">
                                            {% for i in product.get_images %}
                                            <li class="swatch medium radius"><span class="swatchLbl" data-bs-toggle="tooltip" data-bs-placement="top" title="{{i.color}}"><img src="{{i.image.url}}" alt="product" width="625" height="808" /></span></li>
                                           {% endfor %}
                                        </ul>
                                        <!-- End Variant -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                            </div> 
                            {% endfor %}   
                        </div>

                        <div class="view-collection text-center mt-4 mt-md-5">
                            <a href="{% url 'products:shop' %}" class="btn btn-secondary btn-lg">View Collection</a>
                        </div>
                    </div>
                    <!--End Product Grid-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Products With Tabs-->

<!--Parallax Banner-->
<div class="section parallax-banner-style1 py-0">
    <div class="hero hero-large hero-overlay bg-size">
        <img class="bg-img" src="{% static 'assets/images/parallax/demo1-sale-banner.jpg' %}" alt="Clearance Sale - Flat 50% Off" width="1920" height="645" />
        <div class="hero-inner d-flex-justify-center">
            <div class="container">
                <div class="wrap-text center text-white">
                    <h1 class="hero-title text-white">Clearance Sale - Flat 50% Off</h1>
                    <p class="hero-subtitle h3 text-white">Sale will end soon in</p>
                    <!--Countdown Timer-->
                    <div class="hero-saleTime d-flex-center text-center justify-content-center" data-countdown="2028/10/01"></div>
                    <!--End Countdown Timer-->
                    <p class="hero-details">Hema Multipurpose Template that will give you and your customers a smooth shopping experience which can be used for various kinds of stores such as fashion.</p>
                    <a href="{% url 'products:shop' %}" class="hero-btn btn btn-light">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Parallax Banner-->

<!--Testimonial Section-->
<section class="section testimonial-slider style1">
    <div class="container">
        <div class="section-header">
            <p class="mb-2 mt-0">Happy Customer</p>
            <h2>Loved By Our Customers</h2>
        </div>

        <div class="testimonial-wraper">
            <!--Testimonial Slider Items-->
            <div class="testimonial-slider-3items gp15 slick-arrow-dots arwOut5">
                <div class="testimonial-slide">
                    <div class="testimonial-content text-center">     
                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="{% static 'assets/images/icons/demo1-quote-icon.png' %}" src="{% static 'assets/images/icons/demo1-quote-icon.png' %}" alt="icon" width="40" height="40" /></div>
                        <div class="content">  
                            <div class="text mb-2"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 1500s.</p></div>
                            <div class="product-review my-3">
                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i>
                                <span class="caption hidden ms-1">24 Reviews</span>
                            </div>
                        </div>
                        <div class="auhimg d-flex-justify-center text-left">
                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="{% static 'assets/images/users/testimonial1-65x.jpg' %}" src="{% static 'assets/images/users/testimonial1-65x.jpg' %}" alt="John Doe" width="65" height="65" /></div>
                            <div class="auhtext ms-3">
                                <h5 class="authour mb-1">John Doe</h5>
                                <p class="text-muted">Founder &amp; CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-slide">
                    <div class="testimonial-content text-center">                                                     
                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="{% static 'assets/images/icons/demo1-quote-icon.png' %}" src="{% static 'assets/images/icons/demo1-quote-icon.png' %}" alt="icon" width="40" height="40" /></div>
                        <div class="content">  
                            <div class="text mb-2"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 1500s.</p></div>
                            <div class="product-review my-3">
                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i>
                                <span class="caption hidden ms-1">15 Reviews</span>
                            </div>
                        </div>
                        <div class="auhimg d-flex-justify-center text-left">
                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="{% static 'assets/images/users/testimonial2-65x.jpg' %}" src="{% static 'assets/images/users/testimonial2-65x.jpg' %}" alt="Jessica Doe" width="65" height="65" /></div>
                            <div class="auhtext ms-3">
                                <h5 class="authour mb-1">Jessica Doe</h5>
                                <p class="text-muted">Marketing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-slide">
                    <div class="testimonial-content text-center">                                                     
                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="{% static 'assets/images/icons/demo1-quote-icon.png' %}" src="{% static 'assets/images/icons/demo1-quote-icon.png' %}" alt="icon" width="40" height="40" /></div>
                        <div class="content">  
                            <div class="text mb-2"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 1500s.</p></div>
                            <div class="product-review my-3">
                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i>
                                <span class="caption hidden ms-1">17 Reviews</span>
                            </div>
                        </div>
                        <div class="auhimg d-flex-justify-center text-left">
                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="{% static 'assets/images/users/testimonial3-65x.jpg' %}" src="{% static 'assets/images/users/testimonial3-65x.jpg' %}" alt="Rick Edward" width="65" height="65" /></div>
                            <div class="auhtext ms-3">
                                <h5 class="authour mb-1">Rick Edward</h5>
                                <p class="text-muted">Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-slide rounded-3">
                    <div class="testimonial-content text-center">                                                     
                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="{% static 'assets/images/icons/demo1-quote-icon.png' %}" src="{% static 'assets/images/icons/demo1-quote-icon.png' %}" alt="icon" width="40" height="40"/></div>
                        <div class="content">  
                            <div class="text mb-2"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 1500s.</p></div>
                            <div class="product-review my-3">
                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i>
                                <span class="caption hidden ms-1">29 Reviews</span>
                            </div>
                        </div>
                        <div class="auhimg d-flex-justify-center text-left">
                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="{% static 'assets/images/users/testimonial4-65x.jpg' %}" src="{% static 'assets/images/users/testimonial4-65x.jpg' %}" alt="Happy Buyer" width="65" height="65"/></div>
                            <div class="auhtext ms-3">
                                <h5 class="authour mb-1">Happy Buyer</h5>
                                <p class="text-muted">Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Testimonial Slider Items-->
        </div>
    </div>
</section>
<!--End Testimonial section-->

<!--Blog Post-->
<section class="section home-blog-post">
    <div class="container">
        <div class="section-header">
            <p class="mb-2 mt-0">Latest post</p>
            <h2>Most Recent News</h2>
        </div>

        <div class="blog-slider-3items gp15 arwOut5 hov-arrow">
            <div class="blog-item">
                <div class="blog-article zoomscal-hov">
                    <div class="blog-img">
                        <a class="featured-image zoom-scal" href="blog-details.html"><img class="blur-up lazyload" data-src="{% static 'assets/images/blog/post-img1.jpg' %}" src="{% static 'assets/images/blog/post-img1.jpg' %}" alt="New shop collection our shop" width="740" height="410" /></a>
                        <div class="date"><span class="dt">25</span> <span class="mt">Apr<br> <b>2023</b></span></div>
                    </div>
                    <div class="blog-content">
                        <h2 class="h3 mb-3"><a href="blog-details.html">New shop collection our shop</a></h2>
                        <p class="content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                        <a href="blog-details.html" class="btn btn-secondary btn-sm">Read more</a>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="blog-article zoomscal-hov">
                    <div class="blog-img">
                        <a class="featured-image zoom-scal" href="blog-details.html"><img class="blur-up lazyload" data-src="{% static 'assets/images/blog/post-img2.jpg' %}" src="{% static 'assets/images/blog/post-img2.jpg' %}" alt="Gift ideas for everyone" width="740" height="410" /></a>
                        <div class="date"><span class="dt">31</span> <span class="mt">Mar<br> <b>2023</b></span></div>
                    </div>
                    <div class="blog-content">
                        <h2 class="h3 mb-3"><a href="blog-details.html">Gift ideas for everyone</a></h2>
                        <p class="content">There are many variations of passages of Lorem Ipsum available, but the majority suffered.</p>
                        <a href="blog-details.html" class="btn btn-secondary btn-sm">Read more</a>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="blog-article zoomscal-hov">
                    <div class="blog-img">
                        <a class="featured-image zoom-scal" href="blog-details.html"><img class="blur-up lazyload" data-src="{% static 'assets/images/blog/post-img3.jpg' %}" src="{% static 'assets/images/blog/post-img3.jpg' %}" alt="Sales with best collection" width="740" height="410" /></a>
                        <div class="date"><span class="dt">30</span> <span class="mt">Jan<br> <b>2023</b></span></div>
                    </div>
                    <div class="blog-content">
                        <h2 class="h3 mb-3"><a href="blog-details.html">Sales with best collection</a></h2>
                        <p class="content">There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                        <a href="blog-details.html" class="btn btn-secondary btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Blog Post-->


<!-- models popup -->


<!-- Product Addtocart Modal-->
<div class="addtocart-modal modal fade" id="addtocart_modal" tabindex="-1" aria-hidden="true">           
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <form method="post" action="#" id="product-form-addtocart" class="product-form align-items-center">
                    <h3 class="title mb-3 text-success text-center">Added to cart Successfully!</h3>
                    <div class="row d-flex-center text-center">
                        <div class="col-md-6">
                            <!-- Product Image -->
                            <a class="product-image" href="product-layout1.html"><img class="blur-up lazyload" data-src="{% static 'assets/images/products/addtocart-modal.jpg' %}" src="{% static 'assets/images/products/addtocart-modal.jpg' %}" alt="Product" title="Product" width="625" height="800" /></a>
                            <!-- End Product Image -->
                        </div>
                        <div class="col-md-6 mt-3 mt-md-0">
                            <!-- Product Info -->
                            <div class="product-details">

                                <a class="product-title" href="product-layout1.html">Cuff Beanie Cap</a>
                                <p class="product-clr my-2 text-muted">Black / XL</p>
                            </div>
                            <div class="addcart-total rounded-5">
                                <p class="product-items mb-2">There are <strong>1</strong> items in your cart</p>
                                <p class="d-flex-justify-center">Total: <span class="price">$198.00</span></p>
                            </div>
                            <!-- End Product Info -->
                            <!-- Product Action -->
                            <div class="product-form-submit d-flex-justify-center">
                                <a href="#" class="btn btn-outline-primary product-continue w-100">Continue Shopping</a>
                                <a href="cart-style1.html" class="btn btn-secondary product-viewcart w-100 my-2 my-md-3">View Cart</a>
                                <a href="checkout-style1.html" class="btn btn-primary product-checkout w-100">Proceed to checkout</a>
                            </div>
                            <!-- End Product Action -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Product Addtocart Modal -->



<!--Newsletter Modal-->
<div class="newsletter-modal style3 modal fade" id="newsletter_modal" tabindex="-1" aria-hidden="true">           
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-body p-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="newsletter-wrap d-flex flex-column">
                    <div class="newsltr-img d-none d-sm-none d-md-block">
                        <img class="rounded-bottom-0 blur-up lazyload" data-src="{% static 'assets/images/newsletter/newsletter-s6.webp' %}" src="{% static 'assets/images/newsletter/newsletter-s6.webp' %}" alt="Join Our Newsletter Get 20% OFF First Order" title="Join Our Newsletter Get 20% OFF First Order" width="582" height="202" />
                    </div>
                    <div class="newsltr-text text-center">
                        <div class="wraptext mw-100">
                            <h2 class="title text-transform-none">Join Our Newsletter <br>Get 20% OFF First Order</h2>
                            <p class="text">Stay Informed! Monthly Tips, Tracks and Discount.</p>
                            <form action="#" method="post" class="mcNewsletter mb-3">                               
                                <div class="input-group">
                                    <input type="email" class="form-control input-group-field newsletter-input" name="email" value="" placeholder="Enter your email address..." required />
                                    <button type="submit" class="input-group-btn btn btn-secondary newsletter-submit" name="commit">Subscribe</button>
                                </div>
                            </form>
                            <ul class="list-inline social-icons d-inline-flex justify-content-center mb-3 w-100">
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Linkedin"><i class="icon anm anm-linkedin-in"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube"><i class="icon anm anm-youtube"></i></a></li>
                            </ul>
                            <div class="customCheckbox checkboxlink clearfix justify-content-center">
                                <input id="dontshow" name="newsPopup" type="checkbox" />
                                <label for="dontshow" class="mb-0">Don't show this popup again</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Newsletter Modal-->

<!-- end models -->

{% endblock %}